body {
	color: black;
	background-color: white;
}

.punct {
	color: yellow;
	font-weight: bold;
}

.keyword {
	color: white;
}

headline-keyword {
	color: white;
}

.function {
	font-style: italic;
	margin-right: 0.25em;
	color: DeepPink;
}

.constant {
	color: Gray;
	font-weight: bold;
}

.identifier {
	color: Orange;
}

.headline-function {
	font-style: italic;
	margin-right: 0.25em;
	color: DeepPink;
}

.comment {
	color: Lime;
	margin-left: 1em;
}

.headline-comment {
	color: Lime;
	margin-left: 1em;
}

.string {
	color: LightBlue;
}

.string:before {
	content: "\201c"; /* Unicode left double quotation mark */
}

.string:after {
	content: "\201d"; /* in decimal, 8221 */
}

.code {
	font-family: "Lucida Console", Serif;
	background-color: DarkBlue;
	line-height: 1.25;
	padding-top: 5mm;
	padding-bottom: 5mm;
}

.footnote {
	font-size: 60%;
}

h1 {
	margin-top: -25px;
	line-height: 250%;
	background-color: DarkBlue;
	color: white;
	font-weight: normal;
}

hr.footnote {
	margin-top: 30px;
}

.posting-date {
	font-style: italic;
	font-size: 75%;
	margin-top: -18px;
}

.syntax-multiline-block {
	padding-left: 22px;
	text-indent: -22px;
}

.syntax-same-line-block {
	display: inline;
}

.syntax-comment {
	color: Lime;
	padding-left: 50px;
	display: inline;
}

.html-tag {
}

.html-tag:before {
	content: "<";
}

.html-tag:after {
	content: ">";
}


