body {
	color: black;
	background-color: white;
}

.punct {
	color: yellow;
	font-weight: bold;
}

.keyword {
	color: white;
}

headline-keyword {
	color: white;
}

.identifier {
	color: DeepPink;
}

.function {
	font-style: italic;
	margin-right: 0.25em;
	color: DeepPink;
}

.headline-function {
	color: DeepPink;
	font-style: italic;
	margin-right: 0.25em;
}

.comment {
	color: Lime;
	margin-left: 1em;
}

.headline-comment {
	color: Lime;
	margin-left: 1em;
}

.string {
	color: LightBlue;
}

.string:before {
	content: "\201c"; /* Unicode left double quotation mark */
}

.string:after {
	content: "\201d"; /* in decimal, 8221 */
}

.code {
	background-color: DarkBlue;
	line-height: 1.5;
}

.footnote {
	font-size: 60%;
}

h1 {
	margin-top: -25px;
	line-height: 250%;
	background-color: DarkBlue;
	color: white;
	font-weight: normal;
}

hr.footnote {
	margin-top: 30px;
}

.posting-date {
	font-style: italic;
	font-size: 75%;
	margin-top: -18px;
}

